<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="dc392d88-8b0d-41ab-a493-a52d98755d2d" Publisher="CN=stewils" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="dc392d88-8b0d-41ab-a493-a52d98755d2d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SpatialSphereDemo</DisplayName>
    <PublisherDisplayName>stewils</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SpatialSphereDemo.App">
      <uap:VisualElements DisplayName="//b Spatial Sphere Demo Completed" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Spatial Sphere Demo with HeadSet tracking" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="bluetooth.genericAttributeProfile">
      <Device Id="any">
        <Function Type="serviceId:180A" />
      </Device>
      <Device Id="any">
        <Function Type="serviceId:180F" />
      </Device>
      <Device Id="any">
        <Function Type="serviceId:8f8fe645-9e32-4e12-9150-f6b488f6b5aa" />
      </Device>
      <Device Id="any">
        <Function Type="serviceId:52466e96-a001-425a-96b6-7d5795a1ea08" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>